.App {
  text-align: center; }

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.2vw;
  background-color: gold; }
  .game-container > .streamer > figure {
    margin: 0; }
    .game-container > .streamer > figure > figcaption {
      max-height: 20px; }
    .game-container > .streamer > figure > img {
      width: 100%;
      height: 240px; }
